#cryptography==3.1
xmlsig==0.1.3
jsonschema
pyopenssl==19.0.0
zeep
PyPDF2==1.26.0
passlib
werkzeug==2.0.2
python-dateutil
PyYAML
psutil
image
jinja2
reportlab
html2text
num2words
paramiko
phonenumbers
#vatnumber
xlsxwriter
lxml
lxml_html_clean
xlrd==1.2.0